.nav_bg{
  background-image: url('./assets/icons/dark1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer_bg{
  background-image: url('./assets/icons/contact4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}